.valign-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
}

body {
  color: white;
  height: 98vh;
}

.abs-full-width {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9;
}
